html {
    background-color: #08102f;
}

body {
    margin: 0;
    padding: 0;
    color: white;
}

h1.ant-typography {
    color: white;
}

.ant-menu-item-selected {
    background-color: transparent !important;
}